{% load static %}{% load i18n %}{% include 'index.html' %}
{% block data %}
    <h1 style="margin:20px 50px">Монитор директора</h1>
    <h2 style="margin:20px 50px">Собаки</h2>
    <ul class="list-group" style="margin-left: 50px; width: 400px">
    {% for dog in dogs %}
        <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
        <div class="fw-bold"><a href="{% url 'director_edit_dog' shelter.id dog.id %}">{{ dog.get_nickname }}</a></div>
    </div></li>
    {% endfor %}
    </ul><br>
    <a class="btn btn-lg btn-primary btn-block" href="{% url "director_add_dog" shelter.id  %}" style="margin-left: 50px">Добавить собаку</a>
    <h2 style="margin:20px 50px">Волонтеры</h2>
    <ul class="list-group" style="margin-left: 50px; width: 400px">
    {% for user in users %}
        <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
        <div class="fw-bold">{{ user.user.username }} {% if not user.is_active %}<a href="{% url "confirm_volunteer" shelter.id user.user_id%}">Одобрить</a>{% endif %}</div>
    </div></li>
    {% endfor %}
    </ul>
    <a href="{% url "director_calendar"  shelter.id%}">Календарь директора</a>
{%  endblock %}